@model IEnumerable<GlassData.DataLibrary.Models.Glass>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinePos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourcePos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceSide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlassHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlassWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlassThickness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlassWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestRackPos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestRackSide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlassResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinePos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourcePos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceSide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlassId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlassHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlassWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlassThickness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlassWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestRackPos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestRackSide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlassResult)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
